PG_CONNECTION_STRING='postgresql://dustyn:guest@198.48.1.110:5432/ThinkificData'

# Folder Configuration
WATCH_FOLDER="./csv-folders/csv-uploads"
PROCESSED_FOLDER="./csv-folders/csv-processed"
ERROR_FOLDER="./csv-folders/csv-error"

# Server Configuration I DO THIS BECASUSE i want to use unusual ports that other shit doesnt use. 
PORT=3597
BACKEND_PORT=3591
SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlZ2NqbGx0YmFvdnlwcWdhYW9pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI3ODA5ODQsImV4cCI6MjA2ODM1Njk4NH0.ZNhLafgJ0YGh6TvZRgateOf43WjfRCDTOqlNdNNOjJo'
SUPABASE_PASSWORD='auuZzk8grTTOlbfY'
SUPABASE_SERVICE_ROLE='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlZ2NqbGx0YmFvdnlwcWdhYW9pIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mjc4MDk4NCwiZXhwIjoyMDY4MzU2OTg0fQ.f26l5EbBPlCdsFlQLj80sJw9kdrckBmqQ_tbUk51HWE'
SUPABASE_JWT_KEY='e85da7e3-f7d5-4b44-9e33-8d83139aac00'

SUPABASE_SESSION_POOLER='postgresql://postgres.qegcjlltbaovypqgaaoi:auuZzk8grTTOlbfY@aws-0-us-east-2.pooler.supabase.com:5432/postgres'

SUPABASE_TRANSACTION_POOLER='postgresql://postgres.qegcjlltbaovypqgaaoi:auuZzk8grTTOlbfY@aws-0-us-east-2.pooler.supabase.com:6543/postgres'

SUPABASE_DIRECT_CONNECTION='postgresql://postgres:auuZzk8grTTOlbfY@db.qegcjlltbaovypqgaaoi.supabase.co:5432/postgres'